*{
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgb(236, 84, 34); */
}
body{
  /* position:relative; */
  background-color: #5f90f3;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  width: 130px;
  height: 210px;
}
.tables-container{
  margin: 50px;
  padding: 50px;
  /* border-spacing: 50px; */
   display: flexbox;
/* grid-template-rows:1fr 1fr; */
   /* flex-direction: row; */
  /* align-items: center; */
  text-align: center;
   display:inline-flex;
   justify-content: center;
   width: 90vw;
   
align-items: flex-start
  /* grid-template-rows: 1fr, 1fr; */
}
th{
  
  margin: 20px;
  border: solid 5px;
  /* padding: 20px; */
}
td{
  /* border: solid 1px; */
  /* display: flex; */
  text-align: justify;
}
.nav{
  width: 100%;
  text-align: center;
  color:aquamarine;
  background-color: #61dafb ;
  position:fixed;
}
.table1{
  flex: 1;
  margin-right: 100px;
}
.table2{
  flex: 1;
}
th{
  background-color: #456ab2;
}
tr{
  background-color: #a0b9e9;

  /* vertical-align: top; */
}
.searchres{
  display: inline-block;;
}

img{
  border-radius: 10%;
}
